html{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family:  */
}
h1{
    text-align: center;
    font-size: 34px;
}
/* The Frequencies should should in a three column flex box in three rows*/
.Frequencies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50;
    padding: 4em;
    margin: 3em;
}


/* Display active frequencies in bold */
.active{
    font-weight: bold;
}


